body {
  font-family: Arial, sans-serif;
  background-color: #0f2557;
  color: white;
}

div {
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

h1 {
  color: #0a2558;
}

div.key {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #f7f4e9;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007bff;
  color: #fff;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  max-width: 1000px;
  max-height: 1000px;
  width: 100%;
  height: 100%;

  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-height: 80vh;
  overflow-y: auto;
  color: black;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
}

.booked-appointments {
  margin-top: 20px;
  background-color: #00abe1;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.booked-appointments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointments-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.appointment-card {
  width: 250px;
  margin: 15px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #161f6d;
  display: flex;
  flex-direction: column;
  color: white;
}

.appointment-card p {
  margin: 5px 0;
}

.appointment-card button {
  margin-top: 10px;
}

.doctors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.doctor-card {
  width: 250px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #161f6d;
  color: white;
}

.doctor-card p {
  margin: 5px 0;
}

.appointment-card-doc {
  margin: 15px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 1000px;
  height: 1000px;
  background-color: #161f6d;
  display: flex;
  flex-direction: column;
  color: white;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  font-size: 0.9em;
  color: white;
}

table thead th {
  background-color: #0a2558;
  color: #fff;
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #0a2558;
}

tr:nth-child(even) {
  background-color: #3778c2;
}

tr:nth-child(odd) {
  background-color: #28559a;
}

table tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

table tbody tr:hover {
  background-color: #0a2558;
}

.details-section {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s, transform 0.3s;
}

.details-section.show {
  opacity: 1;
  transform: translateY(0);
}

.iframe {
  width: 100%;
  height: 600px;
  border: none;
}

/*Login*/
.mainForm {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 25px 50px 25px 50px;
  transform: translate(-50%, -50%);
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.mainForm .input-field {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #464646;
  outline: none;
  background: transparent;
  color: #464646;
  transition: all 0.5s;
  font-weight: normal;
}

.input-field:focus {
  border: 2.5px solid #0a2558;
  padding: 5px;
  color: #1f3770;
  font-weight: bold;
}

.mainForm .forms .submit {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  transition: all 0.5s;
  margin-top: 20px;
  letter-spacing: 3px;
  top: 30px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #0a2558;
  background-color: #0a2558;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  width: 100%;
}

.submit:hover,
.submit:focus {
  color: #0a2558;
  border: 2px solid #0a2558;
  background-color: white;
  text-decoration: none;
}

.parent-container {
  padding: 25px 50px;
  width: 100%;
  min-height: 100vh;
  background-color: #0a2558;
}

.login-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom right,
    #0a2558,
    #1f3770 44%,
    #324c87 65%
  );
  opacity: 0.9;
}

.forgot-password {
  margin-top: 15px;
  font-size: 16px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: gray;
  color: white;
  margin-left: 25%;
}

nav {
  background-color: #004c8c;
  padding: 1em;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-right: 10px;
  font-weight: bold;
}

nav a:hover {
  background-color: #005cbf;
  text-decoration: none;
}

.input-field {
  width: 100%;
  padding: 3px;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid #464646;
  outline: none;
  background: white;
  color: black;
  transition: all 0.5s;
  font-weight: normal;
}

.input-field:focus {
  border: 1px solid #0a2558;
  padding: 5px;
  background-color: white;
  color: #0a2558;
  font-weight: bold;
}

@media (max-width: 768px) {
  nav a {
    padding: 5px 10px;
    font-size: 0.9em;
  }

  nav a {
    flex-basis: 100%;
    text-align: center;
  }

  .LogoutButton {
    display: none;
  }
}

.time-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
  color: white;
  font-weight: bold;
}

.time-inputs > div {
  margin: 0 30px;
}

.add-slot-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .time-inputs {
    flex-direction: column;
  }

  .time-inputs > div {
    margin-bottom: 0.5em;
  }
}

.slots-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.slot-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.slot-text {
  flex-grow: 1;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  margin-right: 1em;
  color: black;
}

.remove-slot-button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #e3342f;
  color: white;
}

@media (max-width: 768px) {
  .slot-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .slot-text {
    margin-right: 0;
    margin-bottom: 0.5em;
  }

  .remove-slot-button {
    align-self: center;
  }
}

.form-row {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
}

.input-detail,
input[type="file"] {
  width: 100%;
  padding: 8px;
}

.detail-button {
  grid-column: span 2;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .form-row {
    grid-template-columns: 1fr;
  }
  label {
    justify-self: start;
  }
  button {
    grid-column: 1;
  }
}

thead tr.filter-row th {
  background-color: #1c4da7;
}

thead tr.filter-row th input,
thead tr.filter-row th .react-datepicker-wrapper {
  width: 100%;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

.clear-filters-btn {
  padding: 5px 10px;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
  cursor: pointer;
}

.clear-filters-btn:hover {
  background-color: #c4e3f3;
}
